@model List<Questionary>
@{
    ViewData["Title"] = "Questionarios";
}

<div class="text-center">
    <h1 class="display-4">Questionario</h1>



    @Html.ActionLink("Adicionar", "Create")

    <table>
        <tr>
            <th>Nome</th>
            <th>User</th>
            <th>Acoes</th>
        </tr>
        @foreach (var model in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => model.Title)</td>
                <td>@Html.DisplayFor(modelItem => model.User)</td>
                <td>@Html.ActionLink("Responder", "AnswerQuestion", new { idQuestionary = model.Id })</td>
            </tr>
        }

     </table>


    </div>
